<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CleverManagement</title>
</head>
<body>
	<h3>{{project.name|raw}}</h3>

	<p>
		{{project.description|raw}}
	</p>
	<br><br>
	<a href="/Clevermanagement/{{project.id}}/edit">Editer</a> | <a href="/Clevermanagement/{{project.id}}/delete">Supprimer</a><br>
	<strong>STEPS</strong><br><br>
	<a href="/Clevermanagement/{{project.id}}/step/create">Nouvelle etape</a><br><br>
	<strong>{{message}}</strong><br>
	<br>
	{% for step in steps %}
		Nom : {{ step.name }}<br>
		Description : {{ step.description }}<br>
		<a href="/Clevermanagement/{{project.id}}/{{step.id}}/delete">Supprimer</a><br>
		<a href="/Clevermanagement/{{project.id}}/step/{{step.id}}/edit">Editer</a><br>
		<a href="/Clevermanagement/{{project.id}}/step/{{step.id}}/show">Voir</a><br>
	{% endfor %}
</body>
</html>


