{% include 'header/header.html.twig' %}
{% if step['admin'] %}
	{% set type = 'admin' %}
{% else %}
	{% set type = 'member' %}
{% endif %}

<div>
	{% if project['admin'] %}
	<div class="name-project"><span style="position:relative;top:5px;">Projet : {{project['admin'].name|raw}}</span></div>

	<a href="/CleverManagement/"><img src="/clevermanagement/assets/images/arrow-back.png" alt="back"></a><br><br>
	<div class="description-project">
		<p>
			<h3>Description du projet : </h3>
			{{project['admin'].description|raw}}
		</p>
		<p>
			Debut : {{project['admin'].startline | date("m/d/Y")}} <br>
			Fin : {{project['admin'].deadline | date("m/d/Y")}}
		</p>
		<p>
			Nombre d'heures passé sur le projet {{ hour_project }} h<br>
			Prix consacré au projet {{ price_project }} €<br>
		</p>
		<p>
			Admins : 
			{% for admin in admins %}
				{% if loop.first %}
					{{ admin.email }}
				{% else %}
					<span style="font-weight:bold;font-size:20px">|</span> {{ admin.email }}
				{% endif %}
			{% endfor %}
		</p>
		<p>
			Membres : 
			{% for member in members %}
				{% if loop.first %}
					{{ member.email }}
				{% else %}
					<span style="font-weight:bold;font-size:20px">|</span> {{ member.email }}
				{% endif %}
			{% endfor %}
		</p>
		{% if status == 1 %}
			<div class="alert alert-error" style="width:200px;text-align:center;">
				Statut : To Do
			</div>
		{% elseif status == 2 %}
			<div class="alert alert-warning" style="width:200px;text-align:center;">
				Statut : Doing
			</div>
		{% else %}
			<div class="alert alert-success" style="width:200px;text-align:center;">
				Statut : Done
			</div>
		{% endif %}
	</div>
	<div class="action-project">
		<a href="/CleverManagement/{{project_id}}/edit" title="Editer le projet">
			<span>
				<img src="/CleverManagement/assets/images/edit.png">
			</span>
		</a>
		<a href="/CleverManagement/{{project_id}}/delete" title="Supprimer le projet">
			<span>
				<img src="/CleverManagement/assets/images/delete.png">
			</span>
		</a>
	</div>
	<div class="steps-project">
		<div class="steps">
			<a href="/Clevermanagement/{{project['admin'].id}}/step/create" style="color:#fff;"><button class="btn btn-primary">Nouvelle etape</button></a>
		</div>
	{% endif %}
	{% if project['member'] %}
	<div class="name-project"><span style="position:relative;top:5px;">Projet : {{project['member'].name|raw}}</span></div>

	<div class="description-project">
		<p>
			<h3>Description du projet : </h3>
			{{project['member'].description|raw}}
		</p>
		<p>
			Debut : {{project['member'].startline | date("m/d/Y")}} <br>
			Fin : {{project['member'].deadline | date("m/d/Y")}}
		</p>
		<p>
			Nombre d'heures passé sur le projet {{ hour_project }} h<br>
			Prix consacré au projet {{ price_project }} €<br>
		</p>
		<p>
			Admins : 
			{% for admin in admins %}
				{% if loop.first %}
					{{ admin.email }}
				{% else %}
					<span style="font-weight:bold;font-size:20px">|</span> {{ admin.email }}
				{% endif %}
			{% endfor %}
		</p>
		<p>
			Membres : 
			{% for member in members %}
				{% if loop.first %}
					{{ member.email }}
				{% else %}
					<span style="font-weight:bold;font-size:20px">|</span> {{ member.email }}
				{% endif %}
			{% endfor %}
		</p>
		{% if status == 1 %}
			<div class="alert alert-error" style="width:200px;text-align:center;">
				Statut : To Do
			</div>
		{% elseif status == 2 %}
			<div class="alert alert-warning" style="width:200px;text-align:center;">
				Statut : Doing
			</div>
		{% else %}
			<div class="alert alert-success" style="width:200px;text-align:center;">
				Statut : Done
			</div>
		{% endif %}
	</div>
	<div class="action-project">
		</div>
		<div class="steps-project">
			<div class="steps">
			</div>
	{% endif %}
	<br><br>
	<strong style="margin-left:100px;">{{message}}</strong><br>
	<br><br>
	{% for step in steps['admin'] %}
	<a href="/Clevermanagement/{{project_id}}/step/{{step.id}}/show">
		<div class="span2 step" {% if step.status == 1%}style="background-color:#b94a48;"{%elseif step.status == 2%}style="background-color:#e67e22;"{%elseif step.status == 3%}style="background-color:#468847;"{%else%}style="background-color:#b94a48;"{%endif%}>
	      	<div class="title-directory">
	      		<span style='position:relative;top:5px;'>{{step.name}}</span>
	      	</div>
	      	<div class="descr-directory">
	      		<p>
		      		{{step.description | length > 350 ? step.description|slice(0, 350) ~ '(...)' : step.description}}
		      	</p>
	      	</div>
	      	<div class="menu-step">
	      		<a href="/Clevermanagement/{{project_id}}/step/{{step.id}}/edit" title="Editer l'&eacute;tape'" class="edit-step">
	      			<span>
	      				<img src="/CleverManagement/assets/images/edit.png">
	      			</span>
	      		</a>
	      		<a href="/Clevermanagement/{{project_id}}/step/{{step.id}}/delete" title="Supprimer l'&eacute;tape'" class="delete-step">
	      			<span>
	      				<img src="/CleverManagement/assets/images/delete.png">
	      			</span>
	      		</a>
	      	</div>
	    </div>
	</a>
	{% endfor %}
	{% for step in steps['member'] %}
	<a href="/Clevermanagement/{{project_id}}/step/{{step.id}}/show">
		<div class="span2 step" {% if step.status == 1%}style="background-color:#b94a48;"{%elseif step.status == 2%}style="background-color:#e67e22;"{%elseif step.status == 3%}style="background-color:#468847;"{%else%}style="background-color:#b94a48;"{%endif%}>
	      	<div class="title-directory">
	      		<span style='position:relative;top:5px;'>{{project[type].name}}</span>
	      	</div>
	      	<div class="descr-directory">
	      		<p>
		      		{{step.description | length > 350 ? step.description|slice(0, 350) ~ '(...)' : step.description}}
		      	</p>
	      	</div>
	      	<div class="menu-step">
	      	</div>
	    </div>
	</a>
	{% endfor %}
</div>

{% include 'footer/footer.html.twig' %}