<!doctype html>
<html lang="en">
	<head>
	    <meta charset="UTF-8">
  		<title>Clever Management - Make your projects crystal</title>
  		<link rel="stylesheet" type="text/css" href="main.css">
  		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="/CleverManagement/assets/styles/bootstrap.css">
		<link rel="stylesheet" href="/CleverManagement/assets/styles/main.css">
		<link rel="stylesheet" href="/CleverManagement/assets/styles/select2.css">
	</head>
 	<body>
 		<div class="navbar">
		  <div class="navbar-inner">
		    <a class="brand" href="/CleverManagement/"><img src="/CleverManagement/assets/images/logo.png"></a>
		    <ul class="nav">
		      <li><a href="/CleverManagement/">Accueil</a></li>
		      <li><a href="/CleverManagement/deconnection">Deconnexion</a></li>
		    </ul>
		  </div>
		</div>
		<div class="container-fluid">
		  <div class="row-fluid">
		    <div class="span2 sidebar">
		    	<ul class="span2 sidebar-menu">
		    		<a href="new-project.php">
		    			<li class="current">
		    				<span class="text-li-sidebar">
		    					<a href="/CleverManagement/create" class="text-li-sidebar">Nouveau projet</a>
		    				</span>
		    			</li>
		    		</a>
		    		<a href="">
		    			<li>
		    				<span class="text-li-sidebar">
		    					Add Directory
		    				</span>
		    			</li>
		    		</a>
		    		<a href="">
		    			<li>
		    				<span class="text-li-sidebar">
		    					Directory 1
		    				</span>
		    			</li>
		    		</a>
		    		<a href="">
		    			<li>
		    				<span class="text-li-sidebar">
		    					Directory 2
		    				</span>
		    			</li>
		    		</a>
		    		<a href="">
		    			<li>
		    				<span class="text-li-sidebar">
		    					Directory 3
		    				</span>
		    			</li>
		    		</a>
		    	</ul>
		      <!--Sidebar content-->
		    </div>
		<div>
			<div class="name-project"><span style="position:relative;top:5px;">Projet : {{project.name|raw}}</span></div>

			<div class="description-project">
				<p>
					<h3>Description du projet : </h3>
					{{project.description|raw}}
				</p>
				<p>
					Debut : {{project.startline}} <br>
					Fin : {{project.deadline}}
				</p>
				{% if status == 1 %}
					<span style='background-color: red'>statut</span>
				{% elseif status == 2 %}
					<span style='background-color: orange'>statut</span>
				{% else %}
					<span style='background-color: green'>statut</span>
				{% endif %}<br>
			</div>
			<div class="action-project">
				<a href="/CleverManagement/{{project.id}}/edit" title="Editer le projet">
	      			<span>
	      				<img src="/CleverManagement/assets/images/edit.png">
	      			</span>
	      		</a>
	      		<a href="/CleverManagement/{{project.id}}/delete" title="Supprimer le projet">
		  			<span>
		  				<img src="/CleverManagement/assets/images/delete.png">
		  			</span>
		  		</a>
	  		</div>
	  		<div class="steps-project">
	  			<div class="steps">
		  			<button class="btn btn-primary"><a href="/Clevermanagement/{{project.id}}/step/create" style="color:#fff;">Nouvelle etape</a></button>
	  			</div>

				<br><br>
				<strong>{{message}}</strong><br>
				<br><br>
				{% for step in steps %}
				<a href="/Clevermanagement/{{project.id}}/step/{{step.id}}/show">
					<div class="one-step">
						<div class="title-steps-project">
							<span style="position:relative;top:5px;">{{ step.name }} du {{step.startline}} au {{step.deadline}}</span>
						</div>
						<div class="description-steps-project">
							<span style="position:relative;top:10px;">{{ step.description }}</span>
						</div>
						
	<!-- 					<a href="/Clevermanagement/{{project.id}}/{{step.id}}/delete">Supprimer</a><br>
						<a href="/Clevermanagement/{{project.id}}/step/{{step.id}}/edit">Editer</a><br>
						<a href="/Clevermanagement/{{project.id}}/step/{{step.id}}/show">Voir</a><br> -->
					</div>
				</a>
				{% endfor %}
	  		</div>
		</div>
	</body>
</html>


