<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SHOW</title>
</head>
<body>
	<h3>{{step.name|raw}}</h3>

	<p>
		{{step.description|raw}}
	</p>
	<br><br>
	<a href="/Clevermanagement/{{project_id}}/show/step/{{step.id}}/edit">Editer</a> | <a href="/Clevermanagement/{{project_id}}/show/{{step.id}}/delete">Supprimer</a><br>
	<strong>STEPS</strong><br><br>
	<a href="/Clevermanagement/{{project_id}}/show/step/create">Nouvelle etape</a><br><br>
	<strong>{{message}}</strong><br>
	<br>
	{% for step in steps %}
		{% if step.id_project == project.id %}
			name : {{ step.name }}<br>
			description : {{ step.description }}<br>
			<a href="/Clevermanagement/{{project_id}}/show/{{step.id}}/delete">Supprimer</a><br>
			<a href="/Clevermanagement/{{project_id}}/show/step/{{step.id}}/edit">Editer</a><br>
			<a href="/Clevermanagement/{{project_id}}/show/step/{{step.id}}/show">Voir</a><br>
		{% endif %}
	{% endfor %}
</body>
</html>
