<!doctype html>
<html lang="en">
	<head>
	    <meta charset="UTF-8">
  		<title>Clever Management - Make your projects crystal</title>
  		<link rel="stylesheet" type="text/css" href="main.css">
  		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="/CleverManagement/assets/styles/bootstrap.css">
		<link rel="stylesheet" href="/CleverManagement/assets/styles/main.css">
	</head>
 	<body>
 		<div class="navbar">
		  <div class="navbar-inner">
		    <a class="brand" href="#"><img src="/CleverManagement/assets/images/logo.png"></a>
		    <ul class="nav">
		      <li><a href="/CleverManagement">Accueil</a></li>
		      <li><a href="/CleverManagement/deconnection">Deconnexion</a></li>
		    </ul>
		  </div>
		</div>
		<div class="container-fluid">
		  <div class="row-fluid">
		    <div class="span2 sidebar">
		    	<ul class="span2 sidebar-menu">
		    		<a href="new-project.php">
		    			<li class="current">
		    				<span class="text-li-sidebar">
		    					<a href="/CleverManagement/create" class="text-li-sidebar">Nouveau projet</a>
		    				</span>
		    			</li>
		    		</a>
		    		<a href="/CleverManagement/directory/create" class="text-li-sidebar">
		    			<li>
		    				<span class="text-li-sidebar">Nouveau dossier
		    				</span>
		    			</li>
		    		</a>
		    		{% for directory in directories %}
		    		<a href="/CleverManagement/directory/{{directory.id}}/show" class="text-li-sidebar">
		    			<li>
		    				<span class="text-li-sidebar">
		    					{{directory.name}}
		    				</span>
		    			</li>
		    		</a>
		    		{% endfor %}
		    	</ul>
		      <!--Sidebar content-->
		    </div>
	<div>
			<div class="name-step"><span style="position:relative;top:5px;">Etape : {{step.name|raw}}</span></div>

			<div class="description-step">
				<p>
					<h3>Description de l'etape : </h3>
					{{step.description|raw}}
				</p>
				<p>
					Debut : {{step.startline}} <br>
					Fin : {{step.deadline}}
				</p>
				<p>
					Nombre d'heures passé sur l'étape {{ hour_step }} h<br>
					Prix consacré à l'étape {{ price_step }} €<br>
				</p>
				{% if status == 1 %}
					<div class="alert alert-error" style="width:200px;text-align:center;">
						Statut : To Do
					</div>
				{% elseif status == 2 %}
					<div class="alert alert-warning" style="width:200px;text-align:center;">
						Statut : Doing
					</div>
				{% else %}
					<div class="alert alert-success" style="width:200px;text-align:center;">
						Statut : Done
					</div>
				{% endif %}
			</div>
			<div class="action-step">
				{% if step['admin'] %}
					<a href="/Clevermanagement/{{project_id}}/step/{{step['admin'].id}}/edit" title="Editer l'etape">
		      			<span>
		      				<img src="/CleverManagement/assets/images/edit.png">
		      			</span>
		      		</a>
		      		<a href="/Clevermanagement/{{project_id}}/step/{{step['admin'].id}}/delete" title="Supprimer l'etape'">
			  			<span>
			  				<img src="/CleverManagement/assets/images/delete.png">
			  			</span>
			  		</a>
		  		{% endif %}
	  		</div>
	  		<div class="task-step">
	  			<div class="task">
		  			<button class="btn btn-primary"><a href="/Clevermanagement/{{project_id}}/step/{{step_id}}/task/create" style="color:#fff;">Nouvelle tache</a></button>
	  			</div>

				<br><br>
				<strong>{{message}}</strong><br>
				<br><br>
				{% if tasks['admin'] %}
					{% for task in tasks['admin'] %}
					<a href="/Clevermanagement/{{ project_id }}/step/{{ step_id }}/task/{{ task.id }}/show">
						<div class="one-task">
							<div class="title-task-step">
								<span style="position:relative;top:5px;">{{ task.name }} du {{task.startline}} au {{task.deadline}} status = Faire par apport au poucentage de la tache</span>
								{% if task.close == 0 %}
									<a href="/Clevermanagement/{{ project_id }}/step/{{ step_id }}/task/{{ task.id }}/edit" title="Editer l'etape">
						      			<span>
						      				<img src="/CleverManagement/assets/images/edit.png">
						      			</span>
						      		</a>
						      		<a href="/Clevermanagement/{{project_id}}/step/{{ step_id }}/task/{{ task.id }}/delete" title="Supprimer l'etape'">
							  			<span>
							  				<img src="/CleverManagement/assets/images/delete.png">
							  			</span>
							  		</a>
							  	{% else %}
							  		TACHE CLOSE
						  		{% endif %}
							</div>
							<div class="description-task-step">
								<span style="position:relative;top:10px;">{{ task.description }}</span>
							</div>
						</div>
					</a>
					{% endfor %}
				{% endif %}
				{% if tasks['member'] %}
					{% for task in tasks['member'] %}
					<a href="/Clevermanagement/{{ project_id }}/step/{{ step_id }}/task/{{ task.id }}/show">
						<div class="one-task">
							<div class="title-task-step">
								<span style="position:relative;top:5px;">{{ task.name }} du {{task.startline}} au {{task.deadline}} status = Faire par apport au poucentage de la tache</span>
							</div>
							<div class="description-task-step">
								<span style="position:relative;top:10px;">{{ task.description }}</span>
							</div>
						</div>
					</a>
					{% endfor %}
				{% endif %}
	  		</div>
		</div>
</body>
</html>
