{% include 'header/header.html.twig' %}
<div>
	<div class="name-step"><span style="position:relative;top:5px;">Etape : {{step.name|raw}}</span></div>

	<div class="description-step">
		<p>
			<h3>Description de l'etape : </h3>
			{{step.description|raw}}
		</p>
		<p>
			Debut : {{step.startline}} <br>
			Fin : {{step.deadline}}
		</p>
		<p>
			Nombre d'heures passé sur l'étape {{ hour_step }} h<br>
			Prix consacré à l'étape {{ price_step }} €<br>
		</p>
		{% if status == 1 %}
			<div class="alert alert-error" style="width:200px;text-align:center;">
				Statut : To Do
			</div>
		{% elseif status == 2 %}
			<div class="alert alert-warning" style="width:200px;text-align:center;">
				Statut : Doing
			</div>
		{% else %}
			<div class="alert alert-success" style="width:200px;text-align:center;">
				Statut : Done
			</div>
		{% endif %}
	</div>
	<div class="action-step">
		{% if step['admin'] %}
			<a href="/Clevermanagement/{{project_id}}/step/{{step['admin'].id}}/edit" title="Editer l'etape">
      			<span>
      				<img src="/CleverManagement/assets/images/edit.png">
      			</span>
      		</a>
      		<a href="/Clevermanagement/{{project_id}}/step/{{step['admin'].id}}/delete" title="Supprimer l'etape'">
	  			<span>
	  				<img src="/CleverManagement/assets/images/delete.png">
	  			</span>
	  		</a>
  		{% endif %}
	</div>
	<div class="task-step">
		<div class="task" style="margin-left:282px;">
			<button class="btn btn-primary"><a href="/Clevermanagement/{{project_id}}/step/{{step_id}}/task/create" style="color:#fff;">Nouvelle tache</a></button>
		</div>

		<br><br>
		<strong style="margin-left:100px;">{{message}}</strong><br>
		<br><br>
		{% if tasks['admin'] %}
			{% for task in tasks['admin'] %}
			<a href="/Clevermanagement/{{ project_id }}/step/{{ step_id }}/task/{{ task.id }}/show">
				<div class="one-task">
					<div class="title-task-step" {% if task.percent == 0%}style="background-color:#b94a48;"{%elseif task.percent == 100 and task.close == 0%}style="background-color:#468847;"{%elseif task.close == 1 and task.percent == 100%}style="background-color:#7f8c8d;color:#fff;"{%else%}style="background-color:#e67e22;"{%endif%}>
						<span style="position:relative;top:5px;">{{ task.name }} du {{task.startline}} au {{task.deadline}}</span>
						{%if task.close == 0%}
							<a href="/Clevermanagement/{{ project_id }}/step/{{ step_id }}/task/{{ task.id }}/edit" title="Editer l'etape">
				      			<span>
				      				<img src="/CleverManagement/assets/images/edit.png" style="height:28px;">
				      			</span>
				      		</a>
				      		<a href="/Clevermanagement/{{project_id}}/step/{{ step_id }}/task/{{ task.id }}/delete" title="Supprimer l'etape">
					  			<span>
					  				<img src="/CleverManagement/assets/images/delete.png" style="height:28px;">
					  			</span>
					  		</a>
					  	{%endif%}
					</div>
					<div class="description-task-step">
						<span style="position:relative;top:10px;">
							{%if task.urgent == 1%}
					  			<span>
					  				<img src="/CleverManagement/assets/images/urgent.png" style="height:32px;" alt="Urgent" title="Urgent !">
					  			</span>
					  		{%endif%}

							{{ task.description }}
						</span>
					</div>
				</div>
			</a>
			{% endfor %}
		{% endif %}
		{% if tasks['member'] %}
			{% for task in tasks['member'] %}
				<a href="/Clevermanagement/{{ project_id }}/step/{{ step_id }}/task/{{ task.id }}/show">
					<div class="one-task">
						<div class="title-task-step" {% if task.percent == 0%}style="background-color:#b94a48;"{%elseif task.percent == 100%}style="background-color:#468847;"{%else%}style="background-color:#fcf8e3;"{%endif%}>
							<span style="position:relative;top:5px;">{{ task.name }} du {{task.startline}} au {{task.deadline}}</span>
						</div>
				</div>
				<div class="action-step">
					{% if step['admin'] %}
						<a href="/Clevermanagement/{{project_id}}/step/{{step['admin'].id}}/edit" title="Editer l'etape">
			      			<span>
			      				<img src="/CleverManagement/assets/images/edit.png">
			      			</span>
			      		</a>
			      		<a href="/Clevermanagement/{{project_id}}/step/{{step['admin'].id}}/delete" title="Supprimer l'etape'">
				  			<span>
				  				<img src="/CleverManagement/assets/images/delete.png">
				  			</span>
				  		</a>
			  		{% endif %}
		  		</div>
		  		<div class="description-task-step">
						<span style="position:relative;top:10px;">
							{%if task.urgent == 1%}
					  			<span>
					  				<img src="/CleverManagement/assets/images/urgent.png" style="height:32px;" alt="Urgent" title="Urgent !">
					  			</span>
					  		{%endif%}

							{{ task.description }}
						</span>
					</div>
		  	{% endfor %}
		</div>
		{% endif %}
</body>
</html>
<!-- {% include 'footer/footer.html.twig' %} -->
