<!doctype html>
<html lang="en">
	<head>
	    <meta charset="UTF-8">
  		<title>Clever Management - Make your projects crystal</title>
  		<link rel="stylesheet" type="text/css" href="main.css">
  		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="/CleverManagement/assets/styles/bootstrap.css">
		<link rel="stylesheet" href="/CleverManagement/assets/styles/main.css">
	</head>
 	<body>
 		<div class="navbar">
		  <div class="navbar-inner">
		    <a class="brand" href="/CleverManagement/"><img src="/CleverManagement/assets/images/logo.png"></a>
		    <ul class="nav">
		      <li><a href="/CleverManagement/">Accueil</a></li>
		      <li><a href="deconnection">Deconnexion</a></li>
		    </ul>
		  </div>
		</div>
		<div class="container-fluid">
		  <div class="row-fluid">
		    <div class="span2 sidebar">
		    	<ul class="span2 sidebar-menu">
		    		<a href="new-project.php">
		    			<li class="current">
		    				<span class="text-li-sidebar">
		    					<a href="/CleverManagement/create" class="text-li-sidebar">Nouveau projet</a>
		    				</span>
		    			</li>
		    		</a>
		    		<a href="">
		    			<li>
		    				<span class="text-li-sidebar">
		    					Add Directory
		    				</span>
		    			</li>
		    		</a>
		    		<a href="">
		    			<li>
		    				<span class="text-li-sidebar">
		    					Directory 1
		    				</span>
		    			</li>
		    		</a>
		    		<a href="">
		    			<li>
		    				<span class="text-li-sidebar">
		    					Directory 2
		    				</span>
		    			</li>
		    		</a>
		    		<a href="">
		    			<li>
		    				<span class="text-li-sidebar">
		    					Directory 3
		    				</span>
		    			</li>
		    		</a>
		    	</ul>
		      <!--Sidebar content-->
		    </div>
    <div>
    	<div class="name-project"><span style="position:relative;top:5px;">Etape : {{step.name|raw}}</span></div>

		<p>
			{{step.description|raw}}
		</p>
		<br><br>
		<a href="/Clevermanagement/{{project_id}}/step/{{step.id}}/edit">Editer</a> | <a href="/Clevermanagement/{{project_id}}/show/{{step.id}}/delete">Supprimer</a><br>
		<strong>Tasks</strong><br><br>
		<a href="/Clevermanagement/{{project_id}}/step/{{step.id}}/task/create">Nouvelle tache</a><br><br>
		<strong>{{message}}</strong><br>
		<br>
		{% for task in tasks %}
			Nom : {{ task.name }}<br>
			Description : {{ task.description }}<br>
			<a href="/Clevermanagement/{{ project_id }}/step/{{ step.id }}/task/{{ task.id }}/delete">Supprimer</a><br>
			<a href="/Clevermanagement/{{ project_id }}/step/{{ step.id }}/task/{{ task.id }}/edit">Editer</a><br>
			<a href="/Clevermanagement/{{ project_id }}/step/{{ step.id }}/task/{{ task.id }}/show">Voir</a><br>
		{% endfor %}
	</div>
</body>
</html>
