{% include 'header/header.html.twig' %}
<div>
	<div class="name-step"><span style="position:relative;top:5px;">Etape : {{step.name|raw}}</span></div>

	<div class="description-step">
		<p>
			<h3>Description de l'etape : </h3>
			{{step.description|raw}}
		</p>
		<p>
			Debut : {{step.startline}} <br>
			Fin : {{step.deadline}}
		</p>
		<p>
			Nombre d'heures passé sur l'étape {{ hour_step }} h<br>
			Prix consacré à l'étape {{ price_step }} €<br>
		</p>
		{% if status == 1 %}
			<div class="alert alert-error" style="width:200px;text-align:center;">
				Statut : To Do
			</div>
		{% elseif status == 2 %}
			<div class="alert alert-warning" style="width:200px;text-align:center;">
				Statut : Doing
			</div>
		{% else %}
			<div class="alert alert-success" style="width:200px;text-align:center;">
				Statut : Done
			</div>
		{% endif %}
	</div>
	<div class="action-step">
		{% if step['admin'] %}
			<a href="/Clevermanagement/{{project_id}}/step/{{step['admin'].id}}/edit" title="Editer l'etape">
      			<span>
      				<img src="/CleverManagement/assets/images/edit.png">
      			</span>
      		</a>
      		<a href="/Clevermanagement/{{project_id}}/step/{{step['admin'].id}}/delete" title="Supprimer l'etape'">
	  			<span>
	  				<img src="/CleverManagement/assets/images/delete.png">
	  			</span>
	  		</a>
  		{% endif %}
	</div>
	<div class="task-step">
		<div class="task">
			<button class="btn btn-primary"><a href="/Clevermanagement/{{project_id}}/step/{{step_id}}/task/create" style="color:#fff;">Nouvelle tache</a></button>
		</div>

		<br><br>
		<strong>{{message}}</strong><br>
		<br><br>
		{% if tasks['admin'] %}
			{% for task in tasks['admin'] %}
			<a href="/Clevermanagement/{{ project_id }}/step/{{ step_id }}/task/{{ task.id }}/show">
				<div class="one-task">
					<div class="title-task-step">
						<span style="position:relative;top:5px;">{{ task.name }} du {{task.startline}} au {{task.deadline}} status = Faire par apport au poucentage de la tache</span>
						<a href="/Clevermanagement/{{ project_id }}/step/{{ step_id }}/task/{{ task.id }}/edit" title="Editer l'etape">
			      			<span>
			      				<img src="/CleverManagement/assets/images/edit.png">
			      			</span>
			      		</a>
			      		<a href="/Clevermanagement/{{project_id}}/step/{{ step_id }}/task/{{ task.id }}/delete" title="Supprimer l'etape'">
				  			<span>
				  				<img src="/CleverManagement/assets/images/delete.png">
				  			</span>
				  		</a>
					</div>
					<div class="description-task-step">
						<span style="position:relative;top:10px;">{{ task.description }}</span>
					</div>
				</div>
			</a>
			{% endfor %}
		{% endif %}
		{% if tasks['member'] %}
			{% for task in tasks['member'] %}
				<a href="/Clevermanagement/{{ project_id }}/step/{{ step_id }}/task/{{ task.id }}/show">
					<div class="one-task">
						<div class="title-task-step">
							<span style="position:relative;top:5px;">{{ task.name }} du {{task.startline}} au {{task.deadline}} status = Faire par apport au poucentage de la tache</span>
						</div>
				</div>
				<div class="action-step">
					{% if step['admin'] %}
						<a href="/Clevermanagement/{{project_id}}/step/{{step['admin'].id}}/edit" title="Editer l'etape">
			      			<span>
			      				<img src="/CleverManagement/assets/images/edit.png">
			      			</span>
			      		</a>
			      		<a href="/Clevermanagement/{{project_id}}/step/{{step['admin'].id}}/delete" title="Supprimer l'etape'">
				  			<span>
				  				<img src="/CleverManagement/assets/images/delete.png">
				  			</span>
				  		</a>
			  		{% endif %}
		  		</div>
		  	{% endfor %}
		</div>
		{% endif %}
</body>
</html>
<!-- {% include 'footer/footer.html.twig' %} -->
