<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SHOW</title>
</head>
<body>
	<h3>{{task.name|raw}}</h3>

	<p>
		{{task.description|raw}}
	</p>
	<br><br>
	<a href="/Clevermanagement/{{ project_id }}/show/step/{{ step_id }}/show/task/{{ task.id }}/edit">Editer</a> | <a href="/Clevermanagement/{{project_id}}/show/step/{{step_id}}/show/task/{{ task.id }}/delete">Supprimer</a><br>
</body>
</html>
