{% include 'header/header.html.twig' %}
{% if task['admin'] %}
	{% set type = 'admin' %}
{% else %}
	{% set type = 'member' %}
{% endif %}

<div>
	<div class="name-task">
		<span style="position:relative;top:5px;">
			T&acirc;che : {{task[type].name|raw}}
		</span>
	</div>
	<div>
		<a href="/CleverManagement/{{project_id}}/step/{{step_id}}/show"><img src="/clevermanagement/assets/images/arrow-back.png" alt="back"></a>
	</div>
	<div class="task-caract">
		<div class="description-task">
			<p>
				<h3>Description de la t&acirc;che : </h3>
				{{task[type].description|raw}}
			</p>
			<p>
				Debut : {{task[type].startline | date("d/m/Y")}} <br>
				Fin : {{task[type].deadline | date("d/m/Y")}}
			</p>
			<p>
				Membres assignes : 
				{% for member in members %}
					{% if loop.first %}
						{{ member.email }}
					{% else %}
						<span style="font-weight:bold;font-size:20px">|</span> {{ member.email }}
					{% endif %}
				{% endfor %}
			</p>
		</div>
		{% if task['admin'] %}
			<div class="action-task">
				{% if task['admin'].close == 0 %}
					<a href="/Clevermanagement/{{ project_id }}/step/{{ step_id }}/task/{{ task_id }}/edit" title="Editer l'etape">
			  			<span>
			  				<img src="/CleverManagement/assets/images/edit.png">
			  			</span>
			  		</a>
			  		<a href="/Clevermanagement/{{project_id}}/step/{{step_id}}/task/{{ task_id }}/delete" title="Supprimer l'etape'">
			  			<span>
			  				<img src="/CleverManagement/assets/images/delete.png">
			  			</span>
			  		</a>
			  		<a href="/Clevermanagement/{{project_id}}/step/{{step_id}}/task/{{ task_id }}/done" title="Clore la t&acirc;che" class="btn btn-inverse">
			  			Clore la tache
			  		</a>
		  		{% else %}
		  			<a href="/Clevermanagement/{{project_id}}/step/{{step_id}}/task/{{ task_id }}/done" title="Ouvrir la t&acirc;che" class="btn btn-inverse">
			  			Ouvrir la tache
			  		</a>
		  		{% endif %}
			</div>
		{% endif %}
			<div class="task-step">
				<p style="margin-left:100px;">
					T&acirc;che réalisée à : <br>
					<div class="progress progress-striped" style="margin-left:100px;">
					  <div class="bar" style="width: {{percent}}%;text-align:center;">{{percent}} %</div>
					</div>
					{% if percent == 0 %}
						<div class="alert alert-error status-task" style="text-align:center;margin-left:100px;">
							Statut : To Do
						</div>
					{% elseif percent == 100 %}
						<div class="alert alert-success status-task" style="text-align:center;margin-left:100px;">
							Statut : Done
						</div>
					{% else %}
						<div class="alert alert-warning status-task" style="text-align:center;margin-left:100px;">
							Statut : Doing
						</div>
					{% endif %}
				</p>
		</div>
		<p style="margin-left:100px;font-size:18px;">
			Nombre d'heure(s) passée(s) sur la t&acirc;che <span class="hour">{{ hour_task }}h</span><br><br>
			Prix consacré à la tache <span class="hour">{{ price_task }}€</span><br>
		</p>
    </div>
    <div class="task" style="position:relative;left:285px;">
		<button class="btn btn-primary"><a href="/Clevermanagement/{{project_id}}/step/{{step_id}}/task/{{ task_id }}/session/create" style="color:#fff;">Nouvelle session</a></button>
	</div>
	<strong style="margin-left:285px;">{{message}}</strong><br>
	<br><br>
	{% if sessions['admin'] %}
		{% for session in sessions['admin'] %}
		<div class="one-session">
			<div class="title-task-step">
				<span style="position:relative;top:5px;">Date : {{ session.created_at }} | Heure(s) travaillée(s) : {{session.hour_number}}</span>
				<a href="/Clevermanagement/{{project_id}}/step/{{step_id}}/task/{{ task_id }}/session/{{ session.id }}/edit" title="Editer l'etape">
		  			<span>
		  				<img src="/CleverManagement/assets/images/edit.png" style="height:28px;">
		  			</span>
		  		</a>
		  		<a href="/Clevermanagement/{{project_id}}/step/{{step_id}}/task/{{ task_id }}/session/{{ session.id }}/delete" title="Supprimer l'etape'">
		  			<span>
		  				<img src="/CleverManagement/assets/images/delete.png" style="height:28px;">
		  			</span>
		  		</a>
			</div>
			<div class="description-task-step">
				<span style="position:relative;top:10px;">Commentaire : {{ session.comment }}</span>
			</div>
		</div>
		{% endfor %}
	{% endif %}
	{% if sessions['member'] %}
		{% for session in sessions['member'] %}
			<div class="one-session	">
				<div class="title-task-step">
					<span style="position:relative;top:5px;">Date : {{ session.created_at }} | Heure(s) travaillée(s) : {{session.hour_number}}</span>
				</div>
				<div class="description-task-step">
					<span style="position:relative;top:10px;">Commentaire : {{ session.comment }}</span>
				</div>
			</div>
		{% endfor %}
	{% endif %}
</div>

{% include 'footer/footer.html.twig' %}
