<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CleverManagement</title>
</head>
<body>
	<h3>{{task.name|raw}}</h3>

	<p>
			Project réalisé a {{ task.percent }} %
			{% if task.percent == 0 %}
				<span style='background-color: red'>statut</span>
			{% elseif task.percent >= 100 %}
				<span style='background-color: green'>statut</span>
			{% else %}
				<span style='background-color: orange'>statut</span>
			{% endif %}
	</p>

	<p>
		{{task.description|raw}}
	</p>
	<br><br>
	<a href="/Clevermanagement/{{ project_id }}/step/{{ step_id }}/task/{{ task.id }}/edit">Editer</a> | <a href="/Clevermanagement/{{project_id}}/step/{{step_id}}/task/{{ task.id }}/delete">Supprimer</a><br><br>

	<a href="/Clevermanagement/{{project_id}}/step/{{step_id}}/task/{{ task.id }}/session/create">nouvelle session</a><br>

	{% for session in sessions %}
		Date : {{ session.created_at }}&nbsp;
		Heure travaillé : {{ session.hour_number }}&nbsp;
		Avancement : {{ session.percent }}<br>
		Commentaire : {{ session.comment }}&nbsp;
		<a href="/Clevermanagement/{{project_id}}/step/{{step_id}}/task/{{ task.id }}/session/{{ session.id }}/edit">editer</a> | <a href="/Clevermanagement/{{project_id}}/step/{{step_id}}/task/{{ task.id }}/session/{{ session.id }}/delete">supprimer</a>
		<br>
	{% endfor %}
</body>
</html>
