<!doctype html>
<html lang="en">
	<head>
	    <meta charset="UTF-8">
  		<title>Clever Management - Make your projects crystal</title>
  		<link rel="stylesheet" type="text/css" href="main.css">
  		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="/CleverManagement/assets/styles/bootstrap.css">
		<link rel="stylesheet" href="/CleverManagement/assets/styles/main.css">
	</head>
 	<body>
 		<div class="navbar">
		  <div class="navbar-inner">
		    <a class="brand" href="/CleverManagement/"><img src="/CleverManagement/assets/images/logo.png"></a>
		    <ul class="nav">
		      <li><a href="/CleverManagement/">Accueil</a></li>
		      <li><a href="/CleverManagement/deconnection">Deconnexion</a></li>
		    </ul>
		  </div>
		</div>
		<div class="container-fluid">
		  <div class="row-fluid">
		    <div class="span2 sidebar">
		    	<ul class="span2 sidebar-menu">
		    		<a href="new-project.php">
		    			<li class="current">
		    				<span class="text-li-sidebar">
		    					<a href="/CleverManagement/create" class="text-li-sidebar">Nouveau projet</a>
		    				</span>
		    			</li>
		    		</a>
		    		<a href="">
		    			<li>
		    				<span class="text-li-sidebar">
		    					Add Directory
		    				</span>
		    			</li>
		    		</a>
		    		<a href="">
		    			<li>
		    				<span class="text-li-sidebar">
		    					Directory 1
		    				</span>
		    			</li>
		    		</a>
		    		<a href="">
		    			<li>
		    				<span class="text-li-sidebar">
		    					Directory 2
		    				</span>
		    			</li>
		    		</a>
		    		<a href="">
		    			<li>
		    				<span class="text-li-sidebar">
		    					Directory 3
		    				</span>
		    			</li>
		    		</a>
		    	</ul>
		      <!--Sidebar content-->
		    </div>
		    <div>
		    	<div class="name-task">
		    		<span style="position:relative;top:5px;">
		    			T&acirc;che : {{task.name|raw}}
		    		</span>
		    	</div>
		    	<div class="description-task">
					<p>
						<h3>Description de la t&acirc;che : </h3>
						{{task.description|raw}}
					</p>
					<p>
						Debut : {{task.startline}} <br>
						Fin : {{task.deadline}}
					</p>
					<p>
						Membres assignes : 
						{% for member in members %}
							{% if loop.first %}
								{{ member.email }}
							{% else %}
								<span style="font-weight:bold;font-size:20px">|</span> {{ member.email }}
							{% endif %}
						{% endfor %}
					</p>
				</div>
				<div class="action-task">
					<a href="/Clevermanagement/{{ project_id }}/step/{{ step_id }}/task/{{ task.id }}/edit" title="Editer l'etape">
		      			<span>
		      				<img src="/CleverManagement/assets/images/edit.png">
		      			</span>
		      		</a>
		      		<a href="/Clevermanagement/{{project_id}}/step/{{step_id}}/task/{{ task.id }}/delete" title="Supprimer l'etape'">
			  			<span>
			  				<img src="/CleverManagement/assets/images/delete.png">
			  			</span>
			  		</a>
		  		</div>
		  		<div class="task-step">
	  			<div class="task">
		  			<button class="btn btn-primary"><a href="/Clevermanagement/{{project_id}}/step/{{step_id}}/task/{{ task.id }}/session/create" style="color:#fff;">Nouvelle session</a></button>
	  			</div>
		  			<p>
					Project réalisé à : <br>
					<div class="progress progress-striped">
					  <div class="bar" style="width: {{task.percent}}%;text-align:center;">{{task.percent}} %</div>
					</div>
					{% if task.percent == 0 %}
						<div class="alert alert-error" style="text-align:center;margin-left:283px;">
							Statut : To Do
						</div>
					{% elseif task.percent >= 100 %}
						<div class="alert alert-success" style="text-align:center;margin-left:283px;">
							Statut : Done
						</div>
					{% else %}
						<div class="alert alert-warning" style="text-align:center;margin-left:283px;">
							Statut : Doing
						</div>
					{% endif %}
				</p>
		    </div>
			<p>
				Nombre d'heures passé sur la tache {{ hour_task }} h<br>
				Prix consacré à la tache {{ price_task }} €<br>
			</p>
		    <br><br>
			<strong>{{message}}</strong><br>
			<br><br>
			{% for session in sessions %}
				<div class="one-task">
					<div class="title-task-step">
						<span style="position:relative;top:5px;">Date : {{ session.created_at }} | Heure(s) travaillée(s) : {{session.hour_number}}</span>
						<a href="/Clevermanagement/{{project_id}}/step/{{step_id}}/task/{{ task.id }}/session/{{ session.id }}/edit" title="Editer l'etape">
			      			<span>
			      				<img src="/CleverManagement/assets/images/edit.png">
			      			</span>
			      		</a>
			      		<a href="/Clevermanagement/{{project_id}}/step/{{step_id}}/task/{{ task.id }}/session/{{ session.id }}/delete" title="Supprimer l'etape'">
				  			<span>
				  				<img src="/CleverManagement/assets/images/delete.png">
				  			</span>
				  		</a>
					</div>
					<div class="description-task-step">
						<span style="position:relative;top:10px;">Commentaire : {{ session.comment }}</span>
					</div>
				</div>
			{% endfor %}
	  		</div>
</body>
</html>
